<nav class="flex flex-col flex-1 gap-2 overflow-y-auto">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <app-side-menu-item href="/" icon="home" slot="Home"></app-side-menu-item>
      <app-side-menu-item href="/#" icon="search" slot="Search"></app-side-menu-item>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <app-side-menu-item href="/#" icon="library" slot="Library"></app-side-menu-item>
      @for (playlist of playlists; track playlist.id){
        <app-side-menu-card (click)="setAlbumAndSongs(playlist)" [playlist]="playlist" href="/playlist/{{playlist.id}}"></app-side-menu-card>
      }
    </ul>
  </div>
</nav>
